{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/head.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/course.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/font-awesome-4.7.0/css/font-awesome.css' %}">
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <!-- icon -->
    <link rel="icon" href="{% static 'image/logo1.jpg' %}">
    <title>K.L.E Technological University</title>
</head>


<body>
    <header>
        <!-- login and signup -->
        <div id="first">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>

                {% else %}
                <li ><a href="{% url 'login' %}">LOGIN</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                {% endif %}

            </ul>
            <h2 style="text-align: center;color:black"><b>SCHOOL OF COMPUTER SCIENCE AND ENGINEERING</b></h2>
      
    
        <div class="navbar">
            <div class="align">
            {% if user.is_authenticated %}
                <a href="{% url 'home-page' %}"><b>HOME</b></a>
                <a href="{% url 'course-page' %}"><b>COURSE</b></a>
                <a href="{% url 'about-page' %}"><b>ABOUT US</b></a>              
                <a href="{% url 'news-show' %}"><b>EVENT</b></a>
                <a href="{% url 'gallery-page' %}"><b>GALLERY</b></a>
                <a href="{% url 'news-create' %}"><b>ADD NEWS</b></a>
                <a href="{% url 'achieve-create' %}"><b>ADD ACHIEVEMENTS</b></a>
            {% else %}
                        
            
            <a href="{% url 'home-page' %}"><b>HOME</b></a>
            <a href="{% url 'course-page' %}"><b>COURSE</b></a>
            <a href="{% url 'about-page' %}"><b>ABOUT US</b></a>              
            <a href="{% url 'news-show' %}"><b>EVENT</b></a>
            <a href="{% url 'gallery-page' %}"><b>GALLERY</b></a>
            
            {% endif %}
                
             
            </div>
            <!-- burger section -->
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <!-- logo with link -->
        <a href="{% url 'home-page' %}"> <img src="{% static 'image/logo.png' %}" alt="KLE Technology" height="50px" width="200px"></a>
       
</div>


    </header>
    <div >
        {% block content %}{% endblock %}
    </div>
       
</body>
</html>
