{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <body>

        <div>
            <img src="{% static 'image/sub.png' %}" width="1000px" height="500px" alt="Campus picture123" style="display: block;margin-left: auto;margin-right: auto;">
        </div>

    <div style="height:50px;"><marquee style="padding:15px; color:rgb(47, 48, 47);">Online course will be provided shortly for networking students</marquee></div>
    <div class="course">
        <div class="courseleft">
            <h2 class="courseh2-heading" id="courseh2">BE: SEMESTER 3</h2>
            <ul class="courseul" style="text-align: center;">
                <li class="courseli">DATA STRUCTURES AND ALGORITHMS</li><br>
                <li class="courseli">PRINCIPLES OF COMPILER DESIGN</li><br>
                <li class="courseli">GRAPH THEORY AND LINEAR ALGEBRA</li><br>
                <li class="courseli">DISCRETE MATHEMATICAL STRUCTURES</li><br>
                <li class="courseli">COMPUTER ORGANIZATION AND ARCHITECTURE</li><br>
                <li class="courseli">DATA STRUCTURES AND ALGORITHMS LAB</li><br>
                <li class="courseli">COMPUTER ORGANIZATION AND ARCHITECTURE LAB</li><br>
            </ul>
        </div>
        <div class="courseleft">
            <h2 class="courseh2-heading" id="courseh2">BE: SEMESTER 4</h2>
            <ul class="courseul" style="text-align: center;">
                <li class="courseli">APPLIED STATISTICS</li><br>
                <li class="courseli">MICROCONTROLLER:PROGRAMMING AND INTERFACING</li><br>
                <li class="courseli">DATABASE MANAGEMENT SYSTEM</li><br>
                <li class="courseli">OPERATING SYSTEM PRINCIPLES AND PROGRAMMING</li><br>
                <li class="courseli">OBJECT ORIENTED PROGRAMMING WITH C++</li><br>
                <li class="courseli">DATABASE APPLICATIONS LAB</li><br>
                <li class="courseli">OBJECT ORIENTED PROGRAMMING WITH C++ LAB</li><br>
            </ul>
        </div>
        <div class="courseleft">
            <h2 class="courseh2-heading" id="courseh2">BE: SEMESTER 5</h2>
            <ul class="courseul" style="text-align: center;">
                <li class="courseli">SYSTEM SOFTWARE</li><br>
                <li class="courseli">MACHINE LEARNING</li><br>
                <li class="courseli">SOFTWARE ENGINEERING</li><br>
                <li class="courseli">COMPUTER NETWORKS-1</li><br>
                <li class="courseli">JAVA PROGRAMMING</li><br>
                <li class="courseli">SYSTEM SOFTWARE LAB</li><br>
                <li class="courseli">DATA MINING & ANALYSIS</li><br>
            </ul>
        </div>
        <div class="courseleft">
            <h2 class="courseh2-heading" id="courseh2">BE: SEMESTER 6</h2>
            <ul class="courseul" style="text-align: center;">
                <li class="courseli">PA & LR</li><br>
                <li class="courseli">COMPUTER NETWORKING-2</li><br>
                <li class="courseli">DISTRIBUTED & CLOUD COMPUTING</li><br>
                <li class="courseli">COMPUTER NETWORKING LAB</li><br>
                <li class="courseli">WEB TECHNOLOGY LAB</li><br>
                <li class="courseli">MINOR PROJECT</li><br>
                <li class="courseli">PROFESSIONAL ELECTIVE-1</li><br>
            </ul>
        </div>
        <div class="courseleft">
            <h2 class="courseh2-heading" id="courseh2">BE: SEMESTER 7</h2>
            <ul class="courseul" style="text-align: center;">
                <li class="courseli">BIG DATA & ANALYTICS</li><br>
                <li class="courseli">INFORMATION SECURITY</li><br>
                <li class="courseli">PROFESSIONAL ELECTIVE-3</li><br>
                <li class="courseli">PROFESSIONAL ELECTIVE-4</li><br>
                <li class="courseli">PROFESSIONAL ELECTIVE-5</li><br>
                <li class="courseli">OPEN ELECTIVE-1</li><br>
                <li class="courseli">MAJOR PROJECT</li><br>
            </ul>
        </div>
        <div class="courseleft">
            <h2 class="courseh2-heading" id="courseh2">BE: SEMESTER 8</h2>
            <ul class="courseul" style="text-align: center;">
                <li class="courseli">PROFESSIONAL ELECTIVE-6</li><br>
                <li class="courseli">OPEN ELECTIVE-2</li><br>
                <li class="courseli">CAPSTONE PROJECT</li><br>
                <li class="courseli" style="color: red;">OR</li><br>
                <li class="courseli">INDUSTRY TRAINING</li><br>
                <li class="courseli">INDUSTRY PROJECT</li><br>
              
            </ul>
        </div>



    </div>

</body>

{% endblock content %}
